*{ 
    margin: 0;
    padding: 0;
}

.logo img {
    width: 50px;
}

.body{
    margin-left: 20px;    
    font-family: "poppins";
}

nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
}


.menu {
    float: right;
    font-style: normal;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    position: sticky;
    top:0;
    background-color: white;
}

.menu ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    display: flex;

}

.menu ul li a { 
    float: left;
    font-style:poppins;
    color: #0959A7;
    padding: 0px 14px 0px 14px;
    text-decoration: none;
}


.top-wrapper {
    padding: 180px 0 100px 0;
    background-size: cover;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1577717903315-1691ae25ab3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
}
.top-wrapper h1 {
    color:whitesmoke;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    display: flex;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.Daftarsekarang {
    background-color:#42C2FF;
    margin-right: 20px;
    color: white;
}
    